@import url('https://fonts.googleapis.com/css?family=Staatliches|Ubuntu&display=swap');


body {
  margin: 0;
}

.grey-container {
  background: #eceff1;
}

.flags-list {
  padding: 64px 0;
}

.flag {
  margin: 16px auto;
}

.header {
  height: 60vh;

  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;

  color: white;
}

.title-text {
  font-family: 'Ubuntu', sans-serif;
}

.title-subtitle {
  //font-family: ;
}